<h1>Alumno Componet</h1>
<table style="margin-left: 25px; min-height: 205px;">
    <thead (click)="alternarVisibles()">
        <tr>
            <th attr.colspan={{columnas}} style="text-align: center;" >
                <!-- [attr.colspan] = "columnas" -->
                Datos del alumno {{visibles ? " " : nombre }} {{visibles ? " " : apellidos }}
            </th>
        </tr>
    </thead>
    <tbody [style.display]="visibles ? '' : 'none'">
        <!-- *ngFor="let alumno of alumnos"> -->
        <tr>
            <td>Nombre</td>
            <td>{{ nombre }}</td>
        </tr>
        <tr>
            <td>Apellido</td>
            <td>{{ apellidos }}</td>
        </tr>
        <tr>
            <td>Dirección</td>
            <td>{{ direccion }}</td>
        </tr>
        <tr >
            <td>Edad</td>
            <td>{{ edad }}</td>
        </tr>
    </tbody>
</table>
<button style="margin:10px" (click)="alternarVisibles()" >{{visibles ? "Ocultar" :"Mostrar"}}Detalles</button>
<h1 style="margin-left: 20px; margin-top: 50px;">FIN</h1>