<table>
    <tbody>
        <tr *ngFor="let alumno of alumnos">
            <td>Nombre</td>
            <td>{{ alumno.nombre }}</td>
        </tr>
        <tr *ngFor="let alumno of alumnos">
            <td>Apellido</td>
            <td>{{ alumno.apellidos }}</td>
        </tr>
        <tr *ngFor="let alumno of alumnos">
            <td>Dirección</td>
            <td>{{ alumno.direccion }}</td>
        </tr>
        <tr *ngFor="let alumno of alumnos">
            <td>Edad</td>
            <td>{{ alumno.edad }}</td>
        </tr>
    </tbody>
</table>
