/* Estilos para la tabla */

.radioClass{
    color: springgreen;
    font-size: large;
    font-family:  Algerian, Arial, Helvetica, sans-serif;
}

.InicioClass{
    color: navy;
    font-size: large;
    font-family: Algerian, Arial, Helvetica, sans-serif;
}

.margenDerecha{ 
    margin-right: 40px;
}
.margenIzquierda{
    
    margin-left: 90px;
}
.margenIzquierda2{
    
    margin-left: 10px;
}

h1{
    color: olive;
}

table {
    width: 40%;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-family: Algerian, Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: large;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: navy #fff;
    margin-left: 10px;
    padding: 8px;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid yellowgreen;
    border: 1px solid red;
}
th:hover, td:hover {
    padding: 8px;
    text-align: left;
    border: 2px solid darkblue;
    /* border-radius: 20px; */
}


/* Estilos para las filas impares */
tr:nth-child(odd) {
    background-color: #f2f2f2;
}

/* Estilos para las filas al pasar el cursor */
tr:hover {
    background-color: #ddd;
    border: 1px solid #ddd;
}

/* Estilos para la primera columna */
td:first-child {
    font-weight: bold;
}

